.wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: calc(100vh - 32px);
}

.header {
  display: flex;
  justify-content: flex-end;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 16;
}
